h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
button,
p {
  all: unset;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

*:focus {
  outline: none;
  transition-duration: 0.2s;
}

body {
  font-family: 'Noto sans CJK KR', Noto Sans KR, sans-serif;
  color: #333333;
}

button {
  text-align: center;
  cursor: pointer;
}

input {
  width: 100%;
  height: 40px;
  flex: none;
  border: 1px solid #d1d1d1;
  padding: 0px 20px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #777777;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  flex: none;
  border: 1px solid #d1d1d1;
  padding: 20px;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  resize: none;
}

select {
  width: 100%;
  height: 40px;
  flex: none;
  border: 1px solid #d1d1d1;
  padding: 0px 20px;
  appearance: none;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: -0.5px;
  color: #777777;
  border-radius: 4px;

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.28 18.21'><defs><style>.cls-1{fill:%23777777;}</style></defs><g id='레이어_2' data-name='레이어 2'><g id='레이어_1-2' data-name='레이어 1'><rect class='cls-1' x='6.23' y='-0.9' width='5.75' height='20' transform='translate(-3.77 9.1) rotate(-45)'/><rect class='cls-1' x='16.31' y='-0.9' width='5.75' height='20' transform='translate(26.31 29.1) rotate(-135)'/></g></g></svg>")
    no-repeat;
  background-size: 1em;
  background-position: calc(100% - 20px);
}

fieldset {
  margin: 0px;
  padding: 0px;
}
