* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
#root,
body {
  height: 100%;
  font-family: 'Noto Sans CJK KR', 'Noto Sans KR', Noto Sans KR, sans-serif;
  overflow: overlay;
}

#modal {
  position: relative;
  z-index: 999;
}

#modal > div {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app__wrap {
  min-height: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f3f5f8;
}

#app__wrap > div {
  margin: auto;
}

/* scrollbar customization */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
